/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
h1,h2,h3,h4,h5,h6{
	font-family: 'Comfortaa', cursive;
}

h1{
	color:#d3d1ce;
	font-size:54px;
}

.error{
	color:red;
}

body{
	background-color:#1B1B1B !important;
}

.barrasuperior{
	background-color:#040404;
	padding-top:10px;
	padding-bottom:10px;
	color:#d3d1ce;
	border-bottom:#777674 solid 2px;
	text-align:center;
	font-size:16px;
	background-image:url(images/fondosuperior.png);
	background-repeat:repeat;
}


a.cerrarsesion{
	color:#d3d1ce;
	margin:auto;
}

a.cerrarsesion:link{
	text-decoration:none;
}

a.cerrarsesion:visited{
	color:#d3d1ce;
	text-decoration:none;
}

a.cerrarsesion:hover{
	color:#fff;
	text-decoration:none;
}

h2{
	font-size:20px !important;
}

.cabecera{
	background-color:RGB(3,90,0);
	background-image:url(images/fondo.png);
	/*#0f520a*/
	background-repeat:repeat;
	padding-top:10px;
}


a.menu{
	color:#d3d1ce;
	margin:auto;
	text-align:center;
}

a.menu:link{
	text-decoration:none;
}

a.menu:visited{
	color:#d3d1ce;
	text-decoration:none;
}

a.menu:hover{
	color:#fff;
	text-decoration:none;
	border-bottom:solid 1px;
}

.seleccionado{
	color:#fff !important;
	text-decoration:none;
	background-color:#169A37 !important;
}

.colmenu:hover{
	background-color:#A0CBA4 !important;
}

ul#menu li {
    display: inline;
}

ul#menu {
    padding: 0;
}

.colmenu{
	border:1px solid #fff;
}

@media screen and (max-width: 1000px) {
    .colmenu{
	/*border-bottom:2px solid #fff;*/
	margin:0;
	padding-top:10px;
	text-align:left !important;
}
}

.inicio{
	background-color:RGB(3,90,0);
	border-top:#777674 solid 2px;
	font-size:18px;
}
a.enlaceinicio{
	color:#d3d1ce;
	padding-right:10px;
}
a.enlaceinicio:link{
	text-decoration:none;
}
a.enlaceinicio:hover{
	color:#fff !important;
	text-decoration:none;
}
a.enlaceinicio:visited{
	color:#d3d1ce;
	text-decoration:none;
}

.cuerpo{
	border-top:#777674 solid 4px;
	background-color:#d3d1ce;
	background-image:url(images/fondocuerpo.png);
	background-repeat:repeat;
	padding-left:30px;
}

@media screen and (min-width: 480px) {
    .cuerpo {
        min-height:400px;
    }
}

.datospers{
	border-bottom:solid 1px;
}
.enlacenormal{
	font-size:14px;
}
.pie{
	border-top:#777674 solid 4px;
	background-color:#040404;
	color:#d3d1ce;
}

a.pieenlace{
	color:#777674;
}
a.pieenlace:link{
	text-decoration:none;
}
a.pieenlace:hover{
	color:#fff;
	text-decoration:none;
}
a.pieenlace:visited{
	color:#777674;
	text-decoration:none;
}

footer{
	background-color:#262626;
}

.pietexto{
	color:#777674;
	margin-left:1em;
}
.desarrollo{
	color:#777674;
	text-align:center;
}

tr.tablanum td{
	text-align:center;
}

td.titulo{
	text-align:left !important;
	font-weight:bold;
}

#panel1{
	padding-left:10px;
}

div#loading {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#FFF;
    z-index:99999;
}
div#imgLoading {
    display:none;
    position:fixed;
    top:48%;
    left:48%;
    width:32px;
    height:32px;
    z-index:99999;
}

#caja{
	width: 100% !important;
}