/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
h1,h2,h3,h4,h5,h6{
	font-family: 'Comfortaa', cursive;
}

.embed-responsive-16by9{
	padding-bottom:0 !important;
}

@media screen and (max-width: 600px) {
   
}

h4 {
	font-size:16px;
}

.cuadroimagen{
	margin-top:10px !important;
	margin-bottom:10px !important;
	margin:auto;
}

.listado{
	overflow:scroll;
	height:auto;
	max-height:500px;
	background-color:#84BCFB;
	margin-top:6px;
	border-radius:4px;
	border: 1px solid #777674;
}

.oculto{
	display:none;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.dietistacuerpo{
	padding:12px;
}

.fondoalimentos{
	background-color:#fff;
	border-radius:4px;
	border: 1px solid #777674;
	margin-top:4px !important;
	margin-bottom:4px !important;
	padding:4px;
	
	margin:auto;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {

}

.fondoclientes{
	background-color:#fff;
	border-radius:4px;
	border: 1px solid #777674;
	margin-top:4px !important;
	margin-bottom:4px !important;
	padding:4px;
	margin:auto;
}

.fondoentradas{
	background-color:#fff;
	border-radius:4px;
	border: 1px solid #777674;
	margin-top:4px !important;
	margin-bottom:4px !important;
	padding:4px;
	margin:auto;
}

.volver{
	text-align:right !important;
	display:block;
}

.citas{
	background-color:#fff;
	margin-bottom:8px !important;
	border: 1px solid #777674;
	padding:4px;
	border-radius:4px;
	text-align:center;
	margin:auto;
	width:95%;
}

.fondotabla{
	background-color:#f6f6f6;
	border-radius:4px;
	border: 1px solid #777674;
}

@keyframes actualizar {
    0%   {background-color: transparent;}
    50%  {background-color: #fff;}
    100% {background-color: transparent;}
	50%  {background-color: #fff;}
	0%   {background-color: transparent;}
}

.textocab{
	color:white !important;
	text-align:right end;
}

a.cabenlace{
	color:white;
}
a.cabenlace:link{
	text-decoration:none;
}
a.cabenlace:hover{
	color:#57A5FB;
	text-decoration:none;
}
a.cabenlace:visited{
	color:white;
	text-decoration:none;
}

.efecto{
	animation-name: actualizar;
    animation-duration: 4s;
	background-color:transparent;
}

.test{
	margin-bottom:40px;
	background-color:white;
	border-radius:6px;
	border: 1px solid #777674;
	padding:6px;
	padding-top:16px;
	padding-bottom:16px;
}

.contenidocitas{
	margin-bottom:40px;
	background-color:white;
	border-radius:6px;
	border: 1px solid #777674;
	padding:6px;
	padding-top:16px;
	padding-bottom:16px;
	width:50%;
}


.alimentostest{
	margin-bottom:12px;
	
}

hr{
	background-color:#777674;
	height:1px;
}

.selecttest{
	width:25%;
	display:inline;
}

.numerotest{
	width:35%;
	display:inline;
}

h1{
	color:white;
	font-size:28px;
}

h2{
	font-size:22px !important;
}

h3{
	font-size:18px !important;
}

div#contenidos p{
	text-align:justify !important;
}

.slogan{
	font-family: 'Comfortaa', cursive;
	color:white;
	font-variant:small-caps;
	font-size:24px;
}

.muestraIntercambios, .muestraDatosPers,.muestraHistorial, .muestraPatologias{
	border-radius:4px;
	border: 1px solid #777674;
	padding: 8px;
	margin-bottom:6px;
}


.muestraIntercambios{
	background-color:#81c784;
}

.muestraHistorial{
	background-color:#c5e1a5;
	
}

.muestraDatosPers{
	background-color:#8bc34a;
}

.muestraPatologias{
	background-color:#81c784;
}

.error{
	color:red;
}

body{
	background-color:#1B1B1B !important;
}

.barrasuperior{
	background-color:#040404;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:18px;
	text-align:right;
	color:#d3d1ce;
	border-bottom:#777674 solid 2px;
	background-image:url(images/fondosuperior.png);
	background-repeat:repeat;
}

.navbar-brand{
	padding:5px 15px !important;
}

.navbar{
	margin-bottom:0px !important;
	font-family: 'Comfortaa', cursive;;
}

.navbar-inverse{
	border-color:transparent !important;
}

.menuinicio{
	background-image:url(images/fondomenu.png);
	background-repeat:repeat;
}

.navbar-inverse .navbar-nav>li>a {
    color: #d3d1ce;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
	background-color: #080808;
	/*080808   1b5e20*/
}

.botondesplegable{
	background-color:transparent;
	border:0px;
	padding:0px;
}

.botondesplegablesub{
	color:#333;
	padding-left::12px;
	padding-right:12px;
	margin-left:6px;
	text-align:left;
}

.botondesplegablesub:hover{
	background-color:#f5f5f5;
}

.cerrarsesion{
	color:#d3d1ce;
	margin:auto;
	font-size:14px;
}

.cerrarsesion:link{
	text-decoration:none;
}

.cerrarsesion:visited{
	color:#d3d1ce;
	text-decoration:none;
}

.cerrarsesion:hover{
	color:#fff;
	text-decoration:none;
}

.cabeceradiet{
	background-color:RGB(3,90,0);
	background-image:url(images/fondodietista.png);
	/*#0f520a*/
	background-repeat:repeat;
	padding-top:10px;
}

.cabecera{
	background-color:RGB(3,90,0);
	background-image:url(images/fondo.png);
	/*#0f520a*/
	background-repeat:repeat;
	padding-top:10px;
}


a.menu{
	color:#d3d1ce;
	margin:auto;
	text-align:center;
}

a.menu:link{
	text-decoration:none;
}

a.menu:visited{
	color:#d3d1ce;
	text-decoration:none;
}

a.menu:hover{
	color:#fff;
	text-decoration:none;
	border-bottom:solid 1px;
}

.seleccionado{
	color:#fff !important;
	text-decoration:none;
	background-color:#169A37 !important;
}

.colmenu:hover{
	background-color:#A0CBA4 !important;
}

ul#menu li {
    display: inline;
}

ul#menu {
    padding: 0;
}

/* Menú para movil pequeño */
/*@media screen and (max-width: 767px) {
    .colmenu{
		
		margin:0;
		padding-top:10px;
		text-align:left !important;
		border:1px solid #fff;
	}
	.cabecera{
		text-align:center;
	}
	.cuerpo{
		padding:10px !important;
	}
}*/

.inicio{
	background-color:RGB(3,90,0);
	border-top:#777674 solid 2px;
	font-size:18px;
	background-image:url(images/fondomenu.png);
	background-repeat:repeat;
}
a.enlaceinicio{
	color:#d3d1ce;
	padding-right:10px;
}
a.enlaceinicio:link{
	text-decoration:none;
}
a.enlaceinicio:hover{
	color:#fff !important;
	text-decoration:none;
}
a.enlaceinicio:visited{
	color:#d3d1ce;
	text-decoration:none;
}

.cuerpo{
	border-top:#777674 solid 4px;
	background-color:#d3d1ce;
	background-image:url(images/fondocuerpo.png);
	background-repeat:repeat;
	padding:30px;
}

@media screen and (min-width: 480px) {
    .cuerpo {
        min-height:400px;
    }
}

.datospers{
	border-bottom:solid 1px;
}
.enlacenormal{
	font-size:14px;
}
.pie{
	border-top:#777674 solid 4px;
	background-color:#040404;
	color:#d3d1ce;
}

a.pieenlace{
	color:#777674;
}
a.pieenlace:link{
	text-decoration:none;
}
a.pieenlace:hover{
	color:#fff;
	text-decoration:none;
}
a.pieenlace:visited{
	color:#777674;
	text-decoration:none;
}

footer{
	background-color:#262626;
}

.pietexto{
	color:#777674;
	margin-left:1em;
}
.desarrollo{
	color:#777674;
	text-align:center;
}

tr.tablanum td{
	text-align:center;
}

td.titulo{
	text-align:left !important;
	font-weight:bold;
}

#panel1{
	padding-left:10px;
}

div#loading {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#FFF;
    z-index:99999;
}
div#imgLoading {
    display:none;
    position:fixed;
    top:48%;
    left:48%;
    width:32px;
    height:32px;
    z-index:99999;
}

#caja{
	width: 100% !important;
}

#mensajeEmail, #textodieta, #textoentrada{
	resize:vertical;
}