/* CSS Document */
.error{
	color:red;
}

body{
	background-color:#1B1B1B;
	'25541e;'
}
.cabecera{
	background-color:#25541e;
}
h1{
	color:#d3d1ce;
	font-size:64px;
	border-bottom:solid 1px;
}
a.menu{
	color:#d3d1ce;
	font-size:18px;
	margin:auto;
}
a.menu:hover{
	color:#d3d1ce;
	text-decoration:none;
	border-bottom:solid 1px;
}
.inicio{
	font-size:52px !important;
}
a.enlaceinicio{
	color:#d3d1ce;
	padding-right:10px;
	border-right:solid 1px;	
}
a.enlaceinicio:link{
	text-decoration:none;
}
a.enlaceinicio:hover{
	color:#d3d1ce;
	text-decoration:none;
}
a.enlaceinicio:visited{
	color:#d3d1ce;
	text-decoration:none;
}

a.enlaceinicio:active{
	text-decoration:none;
}
.cuerpo{
	border-top:#777674 solid 5px;
	background-color:#d3d1ce;
	padding-left:30px;
}

.datospers{
	border-bottom:solid 1px;
}
.actualizar{
	font-size:14px;
}
.pie{
	border-top:#777674 solid 5px;
	background-color:#040404;
	color:#d3d1ce;
}


a.pieenlace{
	color:#777674;
}
a.pieenlace:link{
	text-decoration:none;
}
a.pieenlace:hover{
	color:#fff;
	text-decoration:none;
}
a.pieenlace:visited{
	color:#777674;
	text-decoration:none;
}

footer{
	background-color:#262626;
}

.pietexto{
	color:#777674;
	margin-left:1em;
}
.desarrollo{
	color:#777674;
	text-align:center;
}

.seleccionado{
	text-decoration:none;
	border-bottom:solid 1px;
	font-size:24px !important;
}